<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Capacitacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <div class="chat-container">
      <!-- Área para mostrar las conversaciones -->
      <div class="chat-box">
        @for (item of mio; track $index){
          <!-- <ion-item style="padding-bottom: 5px;">
            <ion-img src={{img[$index]}} style="height: 50px;">    
            </ion-img>
            <div style="padding-left: 10px;">
              {{item}}
              <ion-badge color="primary">{{price[$index]}}</ion-badge>
              
            </div>
            <ion-button (click)="delete($index)" shape="round">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
            
          </ion-item> -->
          <div class="message-bubble sender"> {{item}}</div>
          <div class="message-bubble receiver"> {{otro[$index]}}</div>
        }
        <div  class="message">
          <div class="message-text" >
            
          </div>
        </div>
      </div>
  
      <!-- Campo de entrada y botón de enviar -->
      <div class="input-container">
        <ion-input placeholder="Type your message..." type="text" [(ngModel)]="myInput"></ion-input>
        <ion-button  expand="full"   id="myButton" (click)="enviar()">Send</ion-button>
      </div>
    </div>
  </ion-content>
</ion-content>
