<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home/main" href="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="home/create" href="create">
      <ion-icon name="bag-outline"></ion-icon>
      <ion-label>Compras</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="home/new" href="create">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Nuevo</ion-label>
    </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
